@font-face {
    font-family: "GothamPro";
    src: local("GothamPro"), url("../fonts/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "GothamPro";
    src: local("GothamPro"), url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "GothamPro";
    src: local("GothamPro"), url("../fonts/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "GothamPro";
}
h1, h2, h3, p {
    margin: 0;
    font-weight: 400;

}
h1, h2 {
    letter-spacing: 1px;
}

.rec__banner {
    position: relative;
    max-width: 100%;
    height: 435px;
    background-image: url(../images/rec__main_bg.png);
}
.rec__container {
    margin: 0 auto;
    max-width: 1140px;
}
.rec__banner-content {
    display: flex;
    flex-direction: column;
    padding: 80px 0 0 0;
}
.rec__banner-title {
    font-weight: 400;
    font-size: 50px;
    margin: 0 0 15px 0;
}
.rec__banner-descr {
    font-size: 22px;
    margin-bottom: 50px;
}
.rec__banner-btn {
    cursor: pointer;
    font-weight: 500;
    font-family: "GothamPro";
    width: 385px;
    border: 0;
    border-radius: 30px;
    padding: 17px 30px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
}
.rec__banner-btn:hover{
    background-color: crimson;
}


.rec__why-we-card-img {
    max-height: 50px;
    max-width: 54px;
}
.rec__why-we-title {
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
}
.rec__why-we-descr {
    color: #474747;
    font-size: 20px;
    margin-bottom: 50px;
}
.rec__why-we-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 110px;
}
.rec__why-we-row-cards {
    display: flex;
}
.rec__why-we-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#rec__why-we-card-1, #rec__why-we-card-4 {
    width: 18%;
}
#rec__why-we-card-3, #rec__why-we-card-6 {
    width: 23%;
}
#rec__why-we-card-2, #rec__why-we-card-5 {
    width: 59%;
}
.rec__why-we-card-descr {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}


.rec__become-specialist {
    background-image: url(../images/rec__become-specialist_bg.png);
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 110px;
}
.rec__become-specialist-row{
    display: flex;
    flex-direction: column;
}
.rec__become-specialist-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 90px;
}
.rec__become-specialist-steps {
    display: flex;
}
#rec__become-specialist-step1 {
    width: 60%;
}
.rec__become-specialist-circle {
    height: 50px;
    width: 50px;
    background-color: #344aa3;
    border-radius: 50%;
    border: 5px solid #d3d9ed;
}
.rec__become-specialist-number-in-circle {
    margin-left: 22px;
    position: relative;
}
#rec__become-specialist-circle1 {
    top: -17px;
    left: -25px;
    position: absolute;
}
#rec__become-specialist-circle2 {
    top: -17px;
    left: -23px;
    position: absolute;
}
#rec__become-specialist-line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 12px;
    left: 35px;
    background-color: #d3d9ed;
}
.rec__become-specialist-number {
    position: relative;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.rec__become-specialist-instruction {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.rec__become-specialist-descr {
    color: #5c5d5f;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 70px;
}
.rec__become-specialist-btn {
    cursor: pointer;
    font-family: "GothamPro";
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    padding: 17px 30px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
    max-width: 380px;
    width: 100%;
}
.rec__become-specialist-btn:hover{
    background-color: crimson;
}

.rec__location{
    margin: 110px 0 0 0;
}
.rec__location-row {
    background-image: url(../images/rec__location_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
}
.rec__location-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}
.rec__location-descr {
    color: #474747;
    font-size: 20px;
    margin-bottom: 50px;
}
.rec__location-addresses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.rec__location-icon-and-address {
    display: flex;
    align-items: center;
    gap: 10px;
}
.rec__location-icon {
    height: 40px;
}
.rec__location-address {
    font-size: 16px;
    font-weight: 400;
}
.rec__location-btn {
    cursor: pointer;
    font-weight: 500;
    font-family: "GothamPro";
    border: 0;
    border-radius: 30px;
    padding: 17px 30px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
    max-width: 380px;
    width: 100%;
}
.rec__location-btn:hover{
    background-color: crimson;
}



.rec__other {
    background-image: url(../images/rec__other_bg.png);
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
.rec__other-title {
    padding-top: 130px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}
.rec__other .swiper {
    margin-left: 0 !important;
    background-color: white;
    box-shadow: 2px 2px 10px 5px #e5e9dc;
    max-width: 850px;
    max-height: 420px;
}
.rec__other-swiper-title-and-counter {
    padding: 50px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}
.rec__other-swiper-title {
    font-size: 22px;
    font-weight: 500;
}
.rec__other-swiper-page-counter {
    opacity: 0.6;
    color: #adadad;
    font-size: 22px;
    font-weight: 300;
}
.rec__other-swiper-top-text {
    font-size: 16px;
    padding: 0 0 30px 50px;
    line-height: 1.4;
}
.rec__other-swiper-bottom-text {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 40px 50px;
    line-height: 1.4;
}
.rec__other-swiper-btn {
    margin-left: 50px;
    cursor: pointer;
    font-weight: 500;
    font-family: "GothamPro";
    border: 0;
    border-radius: 30px;
    padding: 17px 30px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
}
.rec__other-swiper-btn:hover{
    background-color: crimson ;
}
.rec__other .swiper-button-prev, .swiper-rtl .swiper-button-next {
    position: absolute;
    top: 24px !important;
    left: 15px !important;
}
.rec__other .swiper-button-next, .swiper-rtl .swiper-button-prev {
    position: absolute;
    top: 24px !important;
    right: 15px !important;
}
:root {
    --swiper-theme-color: #b0001c !important;
    --swiper-navigation-size: 20px !important;
}
.rec__other-swiper-circle-left {
    height: 45px;
    width: 45px;
    border: 1px solid #b0001c;
    border-radius: 50%;
    cursor: pointer;
}
.rec__other-swiper-circle-left:hover{
    background-color: #fc1a40;
}
.rec__other-swiper-circle-right{
    height: 45px;
    width: 45px;
    border: 1px solid #b0001c;
    border-radius: 50%;
    cursor: pointer;
}
.rec__other-swiper-circle-right:hover{
    background-color: #fc1a40;
}
.rec__other-swiper-button-arrows-wrapper {
    display: flex;
    justify-content: space-between;
}
.rec__other-arrows-wrapper {
    margin-right: 50px;
    position: relative;
    display: flex;
    gap: 10px;
}


.rec__learning {
    margin-top: 110px;
    padding-bottom: 110px;
}
#rec__learning-container {
    background-image: url(../images/rec__learning_bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.rec__learning-wrapper {
    display: flex;
    justify-content: space-between;
}
.rec__learning-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 80px;
}
.rec__learning-left-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}
.rec__learning-left-descr {
    font-size: 18px;
    background-color: #eff2fa;
    padding: 5px 10px;
    font-weight: 400;
    margin-bottom: 30px;
}
.rec__learning-left-list-item {
    gap: 15px;
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}
.rec__learning-left-list-item img{
    height: 30px;
    width: 30px;
}
.rec__learning-left-list-item p{
    align-self: center;
    font-size: 18px;
    font-weight: 400;
}
.rec__learning-right-wrapper {
    padding: 45px 90px 0 90px;
    margin-top: 100px;
    background-image: url(../images/rec__learning_technology_bg.png);
    position: relative;
    background-repeat: no-repeat;
}
.rec__learning-right-descr {
    opacity: 0.6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.rec__learning-right-title {
    font-weight: 500;
    font-size: 28px;
    color: white;
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
}
#rec__learning-right-bg-line {
    width: 400px;
    height: 45px;
    background-color: #a1a7c0;
    position: absolute;
    top: 99px;
    left: 27px;
}
.rec__learning-right-list {
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 30px;
}
.rec__learning-right-list li{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}
.rec__learning-btn {
    cursor: pointer;
    font-weight: 500;
    font-family: "GothamPro";
    border: 0;
    border-radius: 30px;
    padding: 17px 50px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
}
.rec__learning-btn:hover{
    background-color: crimson ;
}


.rec__reviews {
    padding-top: 110px;
    background-image: url(../images/rec__reviews_bg.png);
    background-repeat: no-repeat;
    padding-bottom: 110px;
}
.rec__reviews-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 60px;
}
.swiper2{
    position: relative;
    overflow: hidden;
}
.rec__reviews .swiper-wrapper {
    height: 300px;
}
.rec__reviews-swiper-circle-left{
    height: 45px;
    width: 45px;
    border: 1px solid #b0001c;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.rec__reviews-swiper-circle-left:hover{
    background-color: #fc1a40;
}
.rec__reviews-swiper-circle-right{
    height: 45px;
    width: 45px;
    border: 1px solid #b0001c;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.rec__reviews-swiper-circle-right:hover{
    background-color: #fc1a40;
}
.rec__reviews .swiper2 .swiper-slide {
    display: flex;
    justify-content: space-around;
}
.rec__reviews .swiper2 .rec__reviews-arrows-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    gap: 10px;
}
.rec__reviews .swiper2 .swiper-button-prev {
    position: absolute;
    left: 15px;
}
.rec__reviews .swiper2 .swiper-button-next {
    position: absolute;
    right: 15px;
}
.rec__reviews-video-wrapper {
    height: 190px;
    z-index: 10;
    position: relative;
    margin-right: 15px;
}
.rec__reviews-video {
    height: 190px;
    width: 333px;
    z-index: 10;
    position: relative;
}
.rec__reviews-video-bg {
    width: 333px;
    height: 190px;
    background-color: transparent;
    border: 1px solid #ccd0dd;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}
.rec__reviews-video-title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
}
.rec__reviews-video-descr {
    margin-top: 8px;
    color: #66676a;
}
.rec__reviews-btn-wrapper {
    display: flex;
    justify-content: center;
}
.rec__reviews-btn {
    margin-top: 50px;
    cursor: pointer;
    font-family: "GothamPro";
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    padding: 17px 50px;
    font-size: 16px;
    color: white;
    background-color: #b0001c;
}
.rec__reviews-btn:hover{
    background-color: crimson ;
}


.rec__questions {
    padding-top: 110px;
    padding-bottom: 90px;
}
.rec__questions-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 50px;
}
.rec__questions-accordion-wrapper {
    cursor: pointer;
    background-color: #f4f5f8;
    border: 1px solid #cfd6e9;
    border-radius: 5px 5px 0 0;
    padding: 20px 30px;
    margin-top: 20px;
}
.rec__questions-accordion-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rec__questions-accordion-wrapper.active .rec__questions-accordion-content {
    max-height: 350px;
    padding: 10px;
    margin: 20px 0 0 0;
    border: 1px solid #cfd6e9;
}
.rec__questions-accordion-wrapper img{
    max-width: 20px;
}
.rec__questions-accordion-wrapper p {
    font-weight: 500;
    font-size: 18px;
}
.rec__questions-accordion-content {
    line-height: 1.4;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f4f5f8;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear, 
    margin 0.5s linear, 
    border 0.3s linear;
}




.rec__modal-form {
    display: none;
    position: fixed;
    z-index: 21;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000090;
}
.rec__modal-form.show {
    display: block;
  }
.rec__modal-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 5% auto;
    padding: 25px;
    width: 80%;
    z-index: 2;
    border-radius: 5px;
    max-width: 700px;
    position: relative;
    transform: translateY(-300px);  opacity:0;
}
.rec__modal-form.show .rec__modal-form-content {
  animation: modalShow .4s both;
}

.rec__modal-form.hide .rec__modal-form-content {
  animation: modalHide .4s both;
}

.rec__modal-form.hide {
  display: block;
}

@keyframes modalShow {
  from { transform: translateY(-150px);  opacity:0; }
  to { transform: translateY(150px);  opacity:1; }
}


@keyframes modalHide {
  from { transform: translateY(150px);  opacity:1; }
  to { transform: translateY(-150px);  opacity:0; }
}

.rec__modal-form-close {
    height: 20px;
    width: 20px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
}
.rec__modal-form-close:hover {
    transform: scale(1.05);
    transition: .5s;
    cursor: pointer;
}
.rec__modal-form-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.rec__modal-form-descr {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 35px;
}
.rec__modal-form-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.rec__modal-form-inputs-wrapper {
    display: flex;
    gap: 20px;
}
.rec__modal-form-form-input {
    font-size: 18px;
    padding: 13px 25px;
    border: 1px solid #5f9ea070;
    border-radius: 30px;
}
.rec__modal-form-form-input::placeholder {
    color: black;
}
.rec__modal-form-form-button {
    display: flex;
    align-self: center;
    cursor: pointer;
    font-weight: 500;
    font-family: "GothamPro";
    border: 0;
    border-radius: 30px;
    padding: 17px 50px;
    font-size: 18px;
    color: white;
    background-color: #b0001c;
}
.rec__modal-form-form-button:hover{
    background-color: crimson;
}
.rec__modal-form-agreement {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
}


.errorValidation {
    border: 4px solid tomato;
}


@media (max-width: 1500px) {
    .rec__banner {
        background-position-x: -200px;
    }
}
@media (max-width: 1350px) {
    .rec__banner {
        background-position-x: -400px;
    }
}
@media (max-width: 1130px) {
    .rec__banner {
        background-position-x: -500px;
    }
}
@media (max-width: 1000px) {
    .rec__banner {
        background-image: url(../images/rec__main_bg-dark.png);
        background-position-x: -1000px;
    }
    .rec__banner-title {
        color: #fff;
    }
    .rec__banner-descr {
        color: #fff;
    }
}
@media (max-width: 1200px) {
    .rec__banner-content {
        margin-left: 20px;
    }
    .rec__banner-title {
        font-size: 38px;
    }
    .rec__why-we-title {
        margin-top: 80px;
        margin-left: 20px;
    }
    .rec__why-we-descr {
        margin-left: 20px;
    }
    .rec__become-specialist {
        padding-top: 80px;
    }
    .rec__become-specialist-title {
        margin-left: 20px;
    }
    .rec__become-specialist-steps {
        margin-left: 20px;
    }
    .rec__become-specialist-btn {
        margin-left: 20px;
    }
    .rec__location-row {
        background-image: none;
        margin-left: 20px;
        margin-bottom: 80px;
    }
    .rec__location-title {
        padding-top: 80px;
    }
    .rec__other-title {
        margin-left: 20px;
        padding-top: 80px;
    }
    .rec__learning-wrapper {
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .rec__learning-left-wrapper {
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    #rec__learning-container {
        background-image: none;
    }
    .rec__learning-right-wrapper {
        margin-top: 0;
        padding-bottom: 130px;
    }
    .rec__reviews .swiper {
        height: 900px;
    }
    .rec__reviews .swiper-wrapper {
        height: 800px;
    }
    .rec__reviews-btn {
        margin-top: 0;
    }
    .rec__reviews .swiper-slide {
        align-items: center;
        flex-direction: column;
    }
    .rec__reviews-title {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 0;
    }
    .rec__learning {
        padding-bottom: 20px;
        margin-top: 80px;
    }
    .rec__reviews-arrows-wrapper {
        margin-right: 20px;
    }
    .rec__reviews {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #eff2fb;
    }
    .rec__questions-title {
        margin-left: 20px;
    }
    .rec__questions-accordions-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .rec__questions {
        padding-top: 80px;
    }
}
@media (max-width: 800px) {
    .rec__modal-form-inputs-wrapper {
        flex-direction: column;
    }
    .rec__why-we-row-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .rec__other .swiper {
        max-height: 460px;
    }
    .rec__other-swiper-title-and-counter {
        padding-left: 20px;
    }
    .rec__other-swiper-top-text {
        padding-left: 20px;
    }
    .rec__other-swiper-bottom-text {
        padding-left: 20px;
    }
}
@media (max-width: 600px) {
    .rec__other .swiper {
        max-height: 550px;
    }
    .rec__learning-right-wrapper {
        width: 80%;
        padding-right: 20px;
        padding-left: 50px;
        padding-bottom: 130px;
    }
    #rec__learning-right-bg-line {
        width: 300px;
        top: 90px;
    }
    .rec__learning-right-title {
        font-size: 26px;
    }
    .rec__learning-right-descr {
        font-size: 14px;
    }
}
@media (max-width: 430px) {
    .rec__banner-content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: unset;
        gap: 20px;
        padding: 50px 0 0 0;
        max-width: 380px;
    }
    .rec__banner-title{
        text-align: center;
    }
    .rec__banner-descr{
        text-align: center;
    }
    .rec__banner-btn{
        width: 90%;
        margin: 0 auto;
    }

    .rec__why-we-title{
        text-align: center;
        margin-left: 0;
    }
    .rec__why-we-descr{
        text-align: center;
        margin-left: 0;
    }
    .rec__become-specialist{
        padding-bottom: 0;
        height: 650px;
        background-repeat: repeat;
    }
    .rec__become-specialist-title{
        text-align: center;
        margin-left: 0;
    }
    .rec__become-specialist-descr{
        font-size: 16px;
    }
    .rec__become-specialist-btn {
        width: 90%;
        margin: 0 auto;
    }
    .rec__location{
        margin: 0;
    }
    .rec__location-row{
        margin: 0 20px 80px 20px;
    }
    .rec__location-title{
        text-align: center;
    }
    .rec__location-btn{
        width: 80%;
        margin: 0 auto;
    }

    .rec__other{
        padding-bottom: 0;
    }
    .rec__other-title{
        text-align: center;
    }
    .rec__other .swiper{
        max-height: 620px;
    }
    .rec__other-swiper-title-and-counter {
        gap: 10px;
    }

    .rec__other-swiper-button-arrows-wrapper{
        flex-direction: column;
        gap: 35px;
    }
    .rec__other-swiper-btn{
        max-width: 380px;
        width: 80%;
        margin: 0 auto;
    }
    .rec__other-arrows-wrapper{
        margin: 0 auto;
    }

    .rec__learning-left-title{
        text-align: center;
    }
    .rec__learning-left-list-item p{
        font-size: 17px;
    }

    .rec__reviews .swiper-wrapper{
        height: 400px;
    }
    .rec__reviews-title{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .rec__reviews .swiper2 .rec__reviews-arrows-wrapper{
        top: 55px;
        position: relative;
        justify-content: center;
    }
    .rec__reviews-video-wrapper{
        margin: 0;
    }
    .rec__reviews-video-bg{
        display: none;
    }
    
    .rec__questions-title {
        text-align: center;
        margin-left: 0;
    }
}

